MODEL:
  TRANSFORMER_TYPE: 'deit_base_distilled_patch16_224_TransReID'  # â† updated
  PRETRAIN_CHOICE: 'imagenet'
  PRETRAIN_PATH: './pretrained/deit_base_distilled_patch16_224-df68dfff.pth'
  NAME: 'transformer'
  STRIDE_SIZE: [12, 12]
  SIE_CAMERA: True
  SIE_VIEW: True
  SIE_COE: 3.0
  JPM: True
  SHIFT_NUM: 8
  RE_ARRANGE: True

  METRIC_LOSS_TYPE: 'triplet'
  NO_MARGIN: True
  IF_LABELSMOOTH: 'off'
  IF_WITH_CENTER: 'no'
  ID_LOSS_WEIGHT: 1.0
  TRIPLET_LOSS_WEIGHT: 1.0

LOSS:
  PHASED:
    ENABLE: True
    BOUNDARIES: [30, 60]
    METRIC_SEQ: ['triplet', 'triplet', 'triplet']
    W_METRIC_SEQ: [1.0, 1.0, 1.0]
    W_SUP_SPEC: ['const:0.30', 'linear:0.30->0.0', 'const:0.0']
    TRIPLETX_END: 0

  TRIPLET:
    FEAT_SRC: 'bnneck'

  SUPCON:
    ENABLE: True
    FEAT_SRC: 'pre_bn'
    T: 0.07
    W: 0.30
    W0: 0.30
    DECAY_TYPE: "linear"
    DECAY_START: 50
    DECAY_END: 120
